.title{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.flex1
{
    display: flex;
    gap: 60px;
    margin-left: 50px;
    margin-bottom: 80px;
  
}
.sen1
{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px;
}
.flex2
{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-bottom: 80px;
  
}
.img
{
    width: 430px;
    height: 300px;
}
.box1
{
    background-color: #f8f9fa;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
.flex3
{
    display: flex;
    gap: 50px;
    margin-left: 50px;
    margin-bottom: 80px;
}
.img1
{
    width: 700px;
    height: 500px;
    
}
.sen3
{
   
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
}
.sen5
{
    font-weight:300;
    font-size: 30px;
    margin-bottom: 40px;
}
.wrap
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 100px;
    margin-bottom: 80px;
}
.smallbox
{
    text-align: center;
    width: 400px;
    height: 200px;
    
}
.heading{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
.sodi
{
    color: #4c4c4c;
}
.review
{
    display: flex;
    gap:130px;
    margin-left: 30px;
    margin-bottom: 100px;
}
