.App
{
    display: flex;
    height: 100vh;
}
.flex1
{
    flex: 0 0 75%; /* Take up 80% of the available space */
   
}
.flex2
{
   
    flex: 0 0 25%; /* Take up 80% of the available space */
    height: 100%;
    overflow-y:auto;
    background-color: aliceblue;
}
.nav
{
    height: 60px;
    width: 100%;
    background-color: #2d2f31;
    display: flex;
}
.img
{
    margin-left: 30px;
}
.subject
{
    color: #fff;
    font-size: 15px;
    margin-top: 18px;
    margin-left: 10px;
}
.flexbox{
    display: flex;
    color: white;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 100px;
    cursor: pointer;
}
.name
{
    margin-top: 5px;
}
.item
{
    width: 200px;
}