.one 
{
    height:250px;
    width:100%;
    background-color: #10182f;
}
.two 
{
    display: flex;
}
.three 
{
    color:white;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 800;
}
.fb 
{
    color:#1877f2;
    padding-left: 930px;
    padding-top:20px;
}
.tw 
{
    color:#1877f2;
    padding-top:20px;
    padding-left:10px;
}
.In 
{
    color:#833ab4;
    padding-top:21px;
    padding-left:10px;
}
.Li
{
    color:#0077B5;
    padding-top:21px;
    padding-left:10px;
}
 .four 
{
    width:100%;
    height:5px;
    background-color: whitesmoke;
    margin-top: 5px;
}
.flex 
{
    display: flex;
}
.com
{
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 600;
}

.Gs
{
    color:whitesmoke;
    padding-top: 10px;
    padding-left: 30px;
    font-size: small;
    cursor: pointer;
}
.Gs:hover {
    font-size: medium;
    text-decoration: underline;
   }
 .ser 
{
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 100px;
    font-weight: 600;
}
.Ad 
{
    color:whitesmoke;
    padding-top: 10px;
    padding-left: 100px;
    font-size: small;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Ad:hover {
   font-size: medium;
   text-decoration: underline;
  }


.Acc 
{
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 100px;
    font-weight: 600;
}


.Pu
{
    color:whitesmoke;
    padding-top: 10px;
    padding-left: 100px;
    font-size: small;
    cursor: pointer;
}
.Pu:hover {
    font-size: medium;
    text-decoration: underline;
   }
.Cou
{
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 100px;
    font-weight: 600;
}


.Ps
{
    color:whitesmoke;
    padding-top: 10px;
    padding-left: 100px;
    font-size: small;
    cursor: pointer;
}
.Ps:hover {
    font-size: medium;
    text-decoration: underline;
   }
.Sub 
{
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 130px;
    font-weight: 600;
}
.bottom 
{
    height:60px;
    width:100%;
    display: flex;
    background-color: #2e2748;;
}
.tf 
{
    margin-top: 10px;
    margin-left: 90px;
    height: 30px;
    padding-left:10px;
    font-weight: 600;
}
.btn 
{
    margin-top: 10px;
    margin-left:90px;
    height:30px;
    width:195px;
    font-weight: 600;
    color:#833ab4;
    padding-right:20px;
}
.bottomone 
{
    color:whitesmoke;
    padding-top:20px;
    padding-left:70px;
    font-weight: 400;
}
.bottomtwo 
{
    color:whitesmoke;
    padding-top:20px;
    padding-left:20px;
    font-weight: 400;
}
.bottomthree
{
    color:whitesmoke;
    padding-top:20px;
    padding-left:530px;
    font-weight: 400;
}
.bottomfour 
{
    color:whitesmoke;
    padding-top:20px;
    padding-left:20px;
    font-weight: 400;
}